@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    font-family: 'Raleway', sans-serif ;
    padding: 0px;
    margin:0px;
    
    }
.custom-font .raleway-font{
    font-family: 'Raleway', sans-serif ;
}
.nonavb{
    margin:10px;
    padding: 10px;
}

.heads{
    display: flex; 
    max-width: 800px; 
    justify-content: space-around;
    margin: 20px auto; 
    padding: 20px; 
    border: 1px solid #2963a2; 
    box-sizing: border-box; 
    margin-left: 0px;
      
}

.imagen-container {
    display: flex;
    flex: 0 0 auto;
    border: 2px;
    align-items: center;
}

img {
    max-width: 100%; 
    display: block; /* Elimina el espacio debajo de la imagen causado por la configuración por defecto */
}

.texto-container {
    border: 20px;
    padding: 15px;
}

h3 {
    color: rgb(76, 76, 135); 
}

p {
    margin-top: 10px; 
}
@media (max-width: 687px) {
    .heads {
        flex-direction: column; 
        text-align: center; 
    }

    .imagen-container, .texto-container {
        width: 100%; 
        padding: 0; 
    }
    .imagen-container {
        order: -1; 
        margin-bottom: 20px; 
        justify-content: center;
        
    }
    .imagen-container:only-child {
        order: 0; 
        margin-bottom: 0; 
    }
                            }

footer a:hover {
    color: gold;
    font-weight: bold;
    background-color: black;
}